<hr />

<h1 data-test-category-name>
  {{this.category.name}}
</h1>

{{#if this.posts.isFulfilled}}
  <p>
    Posts categorized as
    <em>
      {{this.category.name}}
    </em>
    :
  </p>
  <ul>
    {{#each this.posts as |post|}}
      <li>
        <LinkTo @route='posts.post' @model={{post.slug}} data-test-post-link>
          {{post.title}}
        </LinkTo>
      </li>
    {{else}}
      <li>
        There are no posts in this category. Yet.
      </li>
    {{/each}}
  </ul>
{{/if}}

{{outlet}}