<hr>

<h1>{{category.name}}</h1>

{{#if posts.isFulfilled}}
	<p>Posts categorized as <em>{{category.name}}</em>:</p>
	<ul>
		{{#each posts as |post|}}
			<li>{{link-to post.title 'posts.post' post}}</li>
		{{else}}
			<li>There are no posts in this category. Yet.</li>
		{{/each}}
	</ul>
{{/if}}

{{outlet}}

