<h1>{{{article.title}}}</h1>

<p>
	id: {{article.id}}<br>
	<time>date: {{article.date}}</time>
</p>

{{{article.content}}}

<h3>Categories</h3>
<ul>
	{{#each article.categories as |category|}}
		<li>{{category.name}}</li>
	{{/each}}
</ul>

<h3>Tags</h3>
<ul>
	{{#each article.tags as |tag|}}
		<li>{{tag.name}}</li>
	{{/each}}
</ul>



{{outlet}}
