<h1>{{{article.title}}}</h1>
<time>date: {{article.date}}</time>
{{{article.content}}}

<h3>Categories</h3>
<ul>
	{{#each article.categories as |category|}}
		<li>{{category.name}}</li>
	{{/each}}
</ul>

<h3>Tags</h3>
<ul>
	{{#each article.tags as |tag|}}
		<li>{{link-to tag.name 'tag' tag}}</li>
	{{/each}}
</ul>

<pre>id: {{article.id}}</pre>

{{outlet}}
