<h1>{{link-to 'Ember Wordpress' 'application'}}</h1>

<p><small>This is a demo application of bridging an Ember.js front-end with a Wordpress WP-API backend using <a href="https://github.com/oskarrough/ember-wordpress">ember-wordpress</a>. The source code is in the repository's `tests/dummy` folder.</small></p>

<nav>
	{{link-to 'Posts' 'posts'}} &#9679; {{link-to 'Categories' 'categories'}} &#9679; {{link-to 'About page' 'page' 'about'}}
</nav>

{{outlet}}
